.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-page-layout {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.login-form__submit-btn {
    color: #fff;
    background-color: var(--concept-color);
}

.signup-btn {
    margin-top: 20px;
}