doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title 배민 로그인
  link(rel='stylesheet' href='assets/css/index.css')
  link(rel='stylesheet' href='assets/css/login.css')
  script(type="module" src='../assets/js/login.js' defer='')
header.header-layout
  a(href="/").close-btn-wrapper
    button.close-btn
      img(src='../assets/icons/x.svg' alt='close-btn')
main.login-page-layout
  figure.logo 
    img.logo-img(src="assets/icons/logo.png" alt="logo")
  form.login-form
    div.login-form__container
      input.woowa-input.login-form__id(placeholder='아이디를 입력해주세요')
      small.login-form__container--id-error-msg 
    div.login-form__container
      input.woowa-input.login-form__pw(type='password' placeholder='비밀번호를 입력해주세요' disabled=false)
      small.login-form__container--pw-error-msg 
    input.woowa-btn.login-form__submit-btn(type='submit' value='로그인')
  button.woowa-btn.signup-btn 회원가입
