doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title=title
  link(rel="shortcut icon" href="../assets/icons/favicon.ico")
  link(rel='stylesheet' href='../assets/css/index.css')
  link(rel='stylesheet' href='../assets/css/phone.css')
  script(src='../assets/js/signup_phone.js' type='module' defer='')
header.header-layout
  a.close-btn-wrapper(href='/signup/terms')
    button.close-btn
      img(src='../assets/icons/left.svg' alt='close-btn')
  h2.header-layout__title 회원가입
  span.header-layout__next 다음
main.phone-page-layout
  .form-element
    label(for='phone-no') 휴대전화
    img.form-element__erase(style='display:none' src='../assets/icons/x.svg' alt='close-btn')
    img.form-element__check--invalid(src='../assets/icons/check.svg' alt='check-btn')
    input#phone-no.woowa-input(type='tel' placeholder='휴대폰 번호를 입력해주세요')
  .form-element.certificate-form(style='display:none')
    label(for='certificate-no') 인증번호
    input#certificate-no.woowa-input(type='number' disabled='' placeholder='인증번호를 입력해주세요')
    span.certificate-section__fetch-again 인증번호 다시받기
  section.certificate-section
    button.woowa-btn.certificate-section__fetch-btn(disabled='') 인증번호 받기
  a(href='/signup/rest')
    button.woowa-btn.next-btn(disabled='') 다음으로
