.login-page-layout {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-form__container{
    display:flex;
    flex-direction:column;
    height:66px;
}

.login-form__container > small {
    margin-top:15px;
    font-size:11px;
    color:var(--warn-color);
}

.login-form__submit-btn {
    color: #fff;
    background-color: var(--concept-color);
}

.login-form__submit-btn:disabled {
    background-color:var(--light-gray-color);
    color:#fff !important;
    font-weight:bold;
    cursor:default;
}

.invalid-form{
    border-bottom: 1px solid var(--warn-color);
}

.signup-btn {
    margin-top: 20px;
}



.logo{
    margin: 0 auto;
    margin-bottom:100px;
}

.logo-img{
    width:180px;
}
