.terms-page-layout{
    position: relative;
    height:100%;
}

.intro-box{
    margin-top:50px;
    border-bottom : 1px solid var(--light-gray-color);
}

.intro-box__notify-block{
    display:block;
    line-height:1.2;
    font-weight:bold;
    font-size:20px;
}

.intro-box__notify-block > span {
    display:block;
}

.intro-box .checkbox-container{
    margin-top:40px;
}

.intro-box__check-all {
    font-weight:bold;
}

.check-all > label{
    font-weight:bold;
}

.terms-box{
    margin: 20px 0;
    border-bottom : 1px solid var(--light-gray-color);
}

.next-btn-link{
    all:unset;   
}

.next-btn:disabled {
    background-color:var(--light-gray-color);
    color:#fff !important;
    font-weight:bold;
    cursor:default;
}

.next-btn {
    background-color:var(--concept-color);
    color:#fff !important;
    font-weight:bold;
    cursor:pointer;
}

.age-check-box{
    margin-bottom:60px;
}

.age-check-box .radio-container {
    background-color: var(--light-concept-color);
    height: 100px;
    overflow: hidden;
}

.age-check-box .radio-container:hover img {
    transform: scale(1.1);
}

.age-check-box .checkmark {
    top: 35px;
}

.age-check-box__img {
    position: absolute;
    height: 100%;
    transition: 0.5s;
}