input[type="radio"]{
    all: unset;
}

.radio-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
    cursor: pointer;

    background-color:rgb(228, 224, 224);
    border-radius:10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    
}

.radio-container > label {
    margin-left: 45px;
    font-size: 15px;
    font-weight:bold;
}

.radio-container .checkmark {
    position: absolute;
    top: 17px;
    left: 10px;
    height: 25px;
    width: 25px;
    background-color: var(--light-gray-color);
    border-radius:50%;
}

.radio-container input:checked ~ .checkmark {
    background-color: var(--concept-color);
}

.radio-container .checkmark:after {
    content: "";
    display: block;
    position: absolute;
    top: 8.5px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
} 

.radio-container > img {
    position:absolute;
    right:0;
}